<!-- =====================================
        ==== Start Works -->

<section class="works section-padding"
         data-scroll-index="4">
  <div class="container-fluid">
    <div class="row">

      <div class="section-head text-center col-sm-12">
        <h4>Дипломы</h4>
      </div>

      <!-- gallery -->
      <div class="gallery text-center full-width">

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items graphic">
          <div class="item-img">
            <img src="documents/нurskaia-maruna-1.jpg"
                 alt="image">
            <div class="item-img-overlay valign">
              <div class="overlay-info full-width vertical-center">
                <!-- <p>Logo & Branding</p> -->
                <h6>Особенности работы со сном у высокочувствительных детей и детей с невролгическими нарушениями</h6>
                <a href="documents/нurskaia-maruna-1.jpg"
                   class="popimg">
                  <span class="icon icon-basic-eye"></span>
                </a>
                <a href="#0">
                  <span class="icon icon-basic-link"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items web">
          <div class="item-img">
            <img src="documents/нurskaia-maruna-2.jpg"
                 alt="image">
            <div class="item-img-overlay valign">
              <div class="overlay-info full-width vertical-center">
                <!-- <p>Logo & Branding</p> -->
                <h6>Сертифицированный консультант по детскому сну</h6>
                <a href="documents/нurskaia-maruna-2.jpg"
                   class="popimg">
                  <span class="icon icon-basic-eye"></span>
                </a>
                <a href="#0">
                  <span class="icon icon-basic-link"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items brand">
          <div class="item-img">
            <img src="documents/нurskaia-maruna-3.jpg"
                 alt="image">
            <div class="item-img-overlay valign">
              <div class="overlay-info full-width vertical-center">
                <!-- <p>Logo & Branding</p> -->
                <h6>Ассоциативные карты как инструмент работы перинатального психолога</h6>
                <a href="documents/нurskaia-maruna-3.jpg"
                   class="popimg">
                  <span class="icon icon-basic-eye"></span>
                </a>
                <a href="#0">
                  <span class="icon icon-basic-link"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items graphic">
          <div class="item-img">
            <img src="documents/нurskaia-maruna-4.jpg"
                 alt="image">
            <div class="item-img-overlay valign">
              <div class="overlay-info full-width vertical-center">
                <!-- <p>Logo & Branding</p> -->
                <h6>Послеродовая депрессия: проявления, причины, профилактика, психологическая помощь</h6>
                <a href="documents/нurskaia-maruna-4.jpg"
                   class="popimg">
                  <span class="icon icon-basic-eye"></span>
                </a>
                <a href="#0">
                  <span class="icon icon-basic-link"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items web">
          <div class="item-img">
            <img src="img/portfolio/5.jpg"
                 alt="image">
            <div class="item-img-overlay valign">
              <div class="overlay-info full-width vertical-center">
                <p>Logo & Branding</p>
                <h6>Crearive Design</h6>
                <a href="img/portfolio/5.jpg"
                   class="popimg">
                  <span class="icon icon-basic-eye"></span>
                </a>
                <a href="#0">
                  <span class="icon icon-basic-link"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items brand">
          <div class="item-img">
            <img src="img/portfolio/6.jpg"
                 alt="image">
            <div class="item-img-overlay valign">
              <div class="overlay-info full-width vertical-center">
                <p>Logo & Branding</p>
                <h6>Crearive Design</h6>
                <a href="img/portfolio/6.jpg"
                   class="popimg">
                  <span class="icon icon-basic-eye"></span>
                </a>
                <a href="#0">
                  <span class="icon icon-basic-link"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items brand">
          <div class="item-img">
            <img src="img/portfolio/7.jpg"
                 alt="image">
            <div class="item-img-overlay valign">
              <div class="overlay-info full-width vertical-center">
                <p>Logo & Branding</p>
                <h6>Crearive Design</h6>
                <a href="img/portfolio/7.jpg"
                   class="popimg">
                  <span class="icon icon-basic-eye"></span>
                </a>
                <a href="#0">
                  <span class="icon icon-basic-link"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-lg-3 col-md-6 items graphic">
          <div class="item-img">
            <img src="img/portfolio/8.jpg"
                 alt="image">
            <div class="item-img-overlay valign">
              <div class="overlay-info full-width vertical-center">
                <p>Logo & Branding</p>
                <h6>Crearive Design</h6>
                <a href="img/portfolio/8.jpg"
                   class="popimg">
                  <span class="icon icon-basic-eye"></span>
                </a>
                <a href="#0">
                  <span class="icon icon-basic-link"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<!-- End Works ====
        ======================================= -->
